.post {
  margin: 2rem 2rem;
  border-radius: 10px;
}

a:hover {
  color: inherit;
}
.card {
  height: 50vh;
  background-color: #111014;
  color:white;
  border: none;
  box-shadow: 0px 5px 10px 0.5px rgba(0, 0, 0, 0.6);
  /*-webkit-box-shadow: 0px 0px 15px .5px rgba(255,255,255,0.3);
  -moz-box-shadow: 0px 0px 15px .5px rgba(255,255,255,0.3);*/
  transition: 200ms ease-in-out;
}

.card:hover {
  box-shadow: 0px 5px 10px 0.5px rgba(0, 0, 0, 0.75);
  /*-webkit-box-shadow: 0px 0px 15px .5px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 0px 15px .5px rgba(255,255,255,0.5);*/
  transform: scale(1.025);
}

.card-img-top {
  height: 50%;
}

.postImg {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
}

.postTitle {
  font-size: 1.75em;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
}

.postDate {
  font-style: italic;
}

.postContent {
  font-size: 20px;
  padding: 0px 10px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media only screen and (max-width:900px) {
    .card-title{
        font-size: 75%;
    }
}