.singlePost {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.sPWrapper {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.sPImg {
  width: auto;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.sPTitle {
  color: white;
  text-align: center;
  margin: 10px;
  font-size: 2.5em;
}

.sPEdit {
  float: right;
  font-size: 0.5em;
}

.sPIcon {
  margin-left: 10px;
  cursor: pointer;
}

.infoWrapper {
  display: flex;
  justify-content: center;

}
.sPInfo {
  color: rgb(192, 192, 192);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-style: italic;
  width: 50%;
  

}

.sPContent {
  color: white;
  font-size: 1.75em;
  padding: 1em;
  white-space: pre-wrap;
}

.sPUsername {
  margin-right: 50px;
}

.sPDate {
  margin-left: 50px;
}

.fa-edit {
  color: #049dd9;
}

.fa-trash-alt {
  color: #c91089;
}
