.singlePost {

}

.sPWrapper {

    
}

.sPImg {
    width: 100%;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
}

.sPTitle {
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 2.5em;
}

.sPEdit {
    float: right;
    font-size: .5em;
}

.sPIcon {
    margin-left: 10px;
    cursor: pointer;
}

.sPInfo {
    color: white;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 1em; 
    
}

.sPContent {
    color: white;
    font-size:2em;
    padding: 1em;
    white-space: pre-wrap;
}

.sPUsername {
    margin-right: 50px;

}

.sPDate {
    margin-left: 50px;

}