
.bg-dark {
  background: rgb(13, 16, 17) !important; 
  background: -moz-linear-gradient(
    180deg,
    rgba(13, 16, 17, 1) 0%,
    rgba(37, 53, 56, 1) 53%,
    rgba(4, 157, 217, 1) 100%
  )!important;
  background: -webkit-linear-gradient(
    180deg,
    rgba(13, 16, 17, 1) 0%,
    rgba(37, 53, 56, 1) 53%,
    rgba(4, 157, 217, 1) 100%
  )!important;
  background: linear-gradient(
    180deg,
    rgba(13, 16, 17, 1) 0%,
    rgba(37, 53, 56, 1) 53%,
    rgba(4, 157, 217, 1) 100%
  )!important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d1011",endColorstr="#049dd9",GradientType=1);
}


.navbar {
  min-height: 10vh!important;
}

.navbar-dark,
.navbar-nav,
.nav-link {
  color: ghostwhite !important;
}

.nav-link {
  font-size: 1.3em!important;
  cursor: pointer!important;
}

.nav-link:hover {
  color: rgb(168, 168, 168) !important;
}
.topIcon {
  cursor: pointer!important;
  
}

.topIconSearch {
  padding: 8px;
  font-size: 1.5em;
  cursor: pointer;
}

.profilePic {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  float: right;
}

@media (max-width: 768px) {
  .nav-link {
    padding-right: 0.5em !important;
    padding-left: 0.5em !important;

  }
}
