/* COLORS
#1B004A 
#024873
*/

.navbar {
    width: 100%;
    height: 50px;
    background-color: #19181F;
    color: ghostwhite;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
}
.test {
    height: 50px;
    margin: 10px 0px;
    background-color: lightskyblue;
}
.topRight,.topLeft {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;

}
.topCenter {
    flex: 6;
}

.topIcon {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.topIconSearch {
    font-size: 18px;
    cursor: pointer;
    margin-left: 15px;
}
.profilePic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.navList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.navListItem {
    margin-right: 20px;
    font-style: 18px;
    cursor: pointer;
    
}
.link {
    text-decoration: none;
    color:inherit;
}